<div class="list-wrapper" data-id="{{ list.id }}">
    <div class="list">
        <div class="list-header">
            {{ list.name }}
        </div>
        <div class="list-body">
            {% set tasks = list.tasks%}
            {% for task in tasks %}
                <!--TAREAS-->
                {{ include('SgpcCoreBundle:Task:partials/taskItem.html.twig') }}
            {% endfor %}
            <a class="js-toggle-task-form" href="javascript:void(0);">Añadir una tarea</a>

            {{ render(controller('SgpcCoreBundle:Task:add', {'id': list.id})) }}

        </div>                           

    </div>
</div>