<div class="list-wrapper" data-id="{{ list.id }}">
    <div class="list">
        <div class="list-header">
            {{ list.name }}
        </div>
        <div class="list-body">
            <!--TAREAS-->
            {% set tasks = list.tasks%}
            {# DE MOMENTO DEJAMOS EL ISACTIVE DE PRUEBA#}
            {% for task in tasks if task.isActive%}
                {{ include('SgpcCoreBundle:Task:partials/taskItem.html.twig') }}
            {% endfor %}
            <a class="js-toggle-task-form" href="javascript:void(0);">+</a>

            {{ render(controller('SgpcCoreBundle:Task:add', {'id': list.id})) }}

        </div>                           

    </div>
</div>