{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
    <div class="conatiner-fluid">
        <h3 class="dashboard-title">
           <a class="back-button" href="/">
               <i class="mdi mdi-arrow-left"></i>
            </a> Mi perfil
        </h3>
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </div>
{% endblock fos_user_content %}

