body, html{
    background: rgb(3, 89, 143);
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x:hidden;
}


.navbar.navbar-inverse{
    background:#05314A;
    border-color:#05314A;
    border-radius:0px;
    margin-bottom: 0;
}
.navbar .container-fluid{
    padding-left:30px;
    padding-right:30px;
}

/* LOGIN/REGISTRO */

.login-card{
    padding: 30px;
    background: white;
    border-radius:3px;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.1), -2px 2px 4px 0 rgba(0,0,0,.1);
    width:400px;
}

/* DASHBOARD*/

.dashboard-title{
    background: rgb(0, 129, 194) none repeat scroll 0% 0%;
    margin: 0px;
    color: white;
    padding: 30px 45px 80px;
    font-size: 22px;
    font-weight: 400;
    margin-left: -30px;
    margin-right: -30px;
}
.project-list{
    margin-top:-50px;
}

.project-list .panel{
    border:0px;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.1), -2px 2px 4px 0 rgba(0,0,0,.1);

}
.project-list .panel .panel-thumbnail{
    position:relative;
}
.project-list .panel .panel-thumbnail .overlay{
    position: absolute;
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 86%);
    background-image: -moz-linear-gradient(to top,rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 86%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.project-list .panel .panel-thumbnail h3{
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 1px 1px black;
    padding: 15px;
    margin: 0;
}

/*INTERIOR DE PROYECTO*/

.back-button{
    color: white;
    position: relative;
    top: 2px;
    margin-right: 15px; 
}
.back-button:hover, .back-button:focus{
    color:white;
}

.project-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    bottom: 0;
}

.project-main-content{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.project-canvas{
    white-space: nowrap;
    margin-bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 84px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    padding-top: 50px;
}

.project-canvas > h2{
    background: rgb(0, 129, 194) none repeat scroll 0% 0%;
    margin: 0px;
    color: white;
    padding: 30px 30px 80px;
    font-size: 22px;
    font-weight: 400;
    position:fixed;
    left:0;
    right:0;
    top:52px;
}

.project-sidebar{
    background-color: RGBA(5, 49, 74, 0.95);
    color:white;
    bottom: 0;
    position: absolute;
    right: -350px;
    top: 52px;
    padding:20px 40px 20px 40px;
    width: 350px;
    z-index: 5;
    transition: all 0.3s ease;
}
.project-sidebar.in{
    right:0;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.1), -2px 2px 4px 0 rgba(0,0,0,.1);

}


.sidebar-toggle{
    position: fixed;
    top: 70px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    z-index: 100;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #5A6B77;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    font-size: 25px;
    text-align: center;
    line-height: 53px;

}
.sidebar-toggle.in{
    right: 325px;
}

.sidebar-toggle .mdi-menu{
    display:block;
}
.sidebar-toggle .mdi-chevron-right{
    display:none;
}

.sidebar-toggle.in .mdi-menu{
    display:none;
}
.sidebar-toggle.in .mdi-chevron-right{
    display:block;
}

/*SPRINTS*/

.sprint{
    background: white;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 40px;
    margin-top: 15px;
    min-height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}



/* SIDEBAR DE PROYECTO */

.project-sidebar .underlined-stats{
    border-bottom: 1px solid lightgrey;
    margin-bottom:5px;
    padding-bottom:5px;
}
.project-sidebar .underlined-stats:last-of-type{
    border:none;
}
.project-sidebar .underlined-stats .badge{
    float:right;
}


.project-sidebar .underlined-stats:first-of-type .badge{
    background:#111;
}
.project-sidebar .underlined-stats:nth-of-type(2) .badge{
    background: #263644;
}
.project-sidebar .underlined-stats:nth-of-type(3) .badge{
    background: #700CCE;
}
.project-sidebar .underlined-stats:nth-of-type(4)  .badge{
    background:#0C7BCE;
}

.project-sidebar .progress{
    border-radius:3px;
    background:transparent;
    box-shadow:none;
}
.project-sidebar .progress .progress-bar:first-of-type{
    background: #263644;
}
.project-sidebar .progress .progress-bar:nth-of-type(2){
    background: #700CCE;
}
.project-sidebar .progress .progress-bar:nth-of-type(3){
    background: #0C7BCE;
}


/*LISTADOS*/


.list-wrapper{
    width: 270px;
    margin: 0 5px;
    margin-top: -50px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background:transparent;
    display:none;
}
.list-wrapper.in{
    display:inline-block;
}

.list-wrapper:first-of-type,
.list-wrapper:nth-of-type(2){ 
    margin-left:30px;
}
.list-wrapper:last-of-type{
    margin-right:30px;
}

.list-wrapper .list{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    background: #D4D8D8;
    border-radius: 3px;
    padding:15px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100% - 52px);
    max-height: -moz-calc(100% -52px);
    position: relative;
    white-space: normal;
    overflow-y:auto;
}

.list .list-header{
    font-size: 16px;
    font-weight: 500;
    color:#5A6B77;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(90, 107, 119, 0.26);
    left: 0px;
    top: 0px;
    right: 0px;
    height: 51px;
    margin: 0px;
    padding: 15px;
    text-transform: uppercase;
}

.js-toggle-task-form{
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 0;
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background: #3e80bd;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.js-toggle-task-form:hover, .js-toggle-task-form:focus, .js-toggle-task-form:visited{
    color:white;
    text-decoration:none;
}

.js-toggle-task-form .mdi-plus:before{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform-origin: center;
    display:block;
    line-height: 40px;
}

.js-toggle-task-form.in .mdi-plus:before{
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.task-form{
    padding-bottom: 30px;
}
.task-form + .task{

}

.list .list-body{
    margin-top:51px;
    min-height:15px;
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


select#task_priority{
    width: 100%;
    margin: 0px 0px 15px;
    padding: 7px;
}

#task_dueDate{
    margin-bottom:15px;
}

form h2{
    font-size:16px;
    margin-top:15px;
    font-weight:500;
    color:#5A6B77;
}
form label{
    font-weight:500;
    color:#5A6B77;
}

/*--------------------TASKS*---------------------*/

.task{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 70px;
    position: relative;
    z-index: 0;
    padding: 8px 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 3px 2px 4px 0 rgba(0,0,0,.1);
}
.task:first-of-type{
    margin-top:15px;
}
.task:last-of-type{
    margin-bottom:20px;
}

.task .dropdown{
    position: Absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    display:none;
}

.task:hover .dropdown{
    display:block;
}

.task a{
    display:block;
    text-decoration: none;
}
.task .dropdown .mdi{
    color:grey;
}
.task .dropdown:hover{
    cursor:pointer;
}
.task .dropdown .dropdown-toggle{
    color: #555
}
.task .dropdown .dropdown-menu{
    left:auto;
    right: 2px;
    top: -7px;
}

.task .priority-label{
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    left: 0px;
}
.task .priority-label[data-priority='1']{
    background:red;
}
.task .priority-label[data-priority='2']{
    background:#e09108;
}
.task .priority-label[data-priority='3']{
    background:green;
}

.task .task-title{

    clear: both;
    display: block;
    font-weight: 500;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #576671;

}

.task-body ul{
    padding:0;
    margin:0;
    list-style: none;
}
.task-body ul li{
    display:inline-block;
    color: #7d7d7d;
    font-size: 16px;
}
.task-body ul li span{
    font-size: 14px;
    margin-left: 1px;
    font-weight: 500;
    position: relative;
    top: -1px;
}
.task-body ul li+li{
    margin-left:5px;
}

.task .task-timer{ 
    color: red;
}


.task-sidebar{
    background-color: RGBA(5, 49, 74, 0.95);
    color:white;
    bottom: 0;
    position: absolute;
    right: -350px;
    top: 52px;
    padding:20px 40px 20px 40px;
    width: 350px;
    z-index: 5;
    transition: all 0.3s ease;
}
.task-sidebar.in{
    right:0;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,.1), -2px 2px 4px 0 rgba(0,0,0,.1);

}

.task-content{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #D4D8D8;
    border-radius: 3px;
    padding: 30px;
    margin-top: -50px;
    margin: -50px auto 30px;
    max-width:900px;
}
.task-content .desc span{
    color: #576671;
    font-weight:bold;
    margin-right: 5px;
}
.comments { 
    clear: both; 
}

.comments .comment { 
    position:relative;
    padding: 15px 15px 6px;
    max-width: 600px; 
    background: white;
    margin-bottom:10px;
    border-radius:3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16), 0 1px 4px 0 rgba(0,0,0,.12);    
    margin-left:55px;
}
.comments .comment:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid white;
    position: absolute;
    left: -7px;
    top: 18px;
}
.comments .comment .icon-member-list{
    position:absolute;
    left:-55px;
    top:11px;
}
.comments .comment .icon-member-list li{
    padding: 6px 11px;
    position:relative;
}
.comments .comment p { 
    margin-bottom: 4px; 
    border-bottom:1px solid lightgrey; 
    padding-bottom:15px;
}
.comments .comment time{
    color: #9c9c9c;
    font-size:12px;
}
.comments h3 { padding: 10px 0px; font-size: 18px; margin-bottom: 20px; clear: both; color: #576671; }
.comments .previous-comments { margin-bottom: 30px; }

.new-comment .icon-member-list{
    margin-right:25px;
    float:left;
    margin-top:11px;
}
.new-comment .icon-member-list li{
    padding: 6px 11px;
    opacity: 0.5;
}
.new-comment .btn{
    margin-left: 54px;
    margin-top: 5px;
}


textarea#sgpc_corebundle_comment_comment{
    width:602px;
    height:75px;
    padding:15px;
}

/*forms*/

.form-content{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #D4D8D8;
    border-radius: 3px;
    padding: 30px;
    width: 600px;
    margin: -50px auto 30px;
}

.task-form{
    display:none;
}

.list-form{
    display:none;
}

.project-members-form, .task-members-form{
    display:none;
}


/*listado de miembros en casillas de colores*/
.icon-member-list{
    padding:0;
    list-style: none;
}
.icon-member-list li{
    display:inline-block;
    background: grey;
    color: white;
    font-size: 12px;
    position:relative;
}
.icon-member-list li a{
    display:block;
    color:white;
    padding: 3px 8px;
    cursor:pointer;
    text-decoration:none;
}
.icon-member-list .dropdown-menu li{
    display:block;
    color:#333;
    background:white;
    padding:2px 10px;
}
.icon-member-list li .mdi{
    position: absolute;
    font-size: 16px;
    bottom: -10px;
    right: -6px;
    color: gold;
}
