body, html{
    background: #74AFAD;
}


/*INTERIOR DE PROYECTO*/
.project-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    bottom: 0;
}

.project-main-content{
    margin-right: 339px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.project-canvas{
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 339px;
    bottom: 0;
    left: 0;
    padding:0px 30px;
}

.project-sidebar{
    background-color: white;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 52px;
    padding:30px;
    width: 339px;
    z-index: 5;
}


/*LISTADOS*/

/*colores de listados*/

.firstlist{
    background:#263644;
}
.secondlist{
    background: #700CCE;
}
.thirdlist{
    background:#0C7BCE;
}


.list-wrapper{
    width: 270px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background:transparent;
}

.list-wrapper .list{
    background: #ddd;
    border-radius: 3px;
    padding:15px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    overflow-y:scroll;
}

.list .list-header{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}


.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}




/*--------------------TASKS*---------------------*/

.task{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 70px;
    position: relative;
    z-index: 0;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.task .dropdown{
    position:Absolute;
    right:4px;
    top:11px;
}
.task .dropdown:hover{
    cursor:pointer;
}
.task .dropdown .dropdown-toggle{
    color: #555
}
.task .dropdown .dropdown-menu{
    left:auto;
    right: 2px;
    top: -7px;
}

.task .priority-label{
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    left: 0px;
}
.task .priority-label[data-priority='1']{
    background:red;
}
.task .priority-label[data-priority='2']{
    background:#e09108;
}
.task .priority-label[data-priority='3']{
    background:green;
}

.task .task-title{

    clear: both;
    display: block;
    font-weight: 400;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: rgba(0,0,0,0.87);

}

.task .task-timer{
    position:absolute;
    right:10px;
    top:12px;
}
.task .task-timer .mdi{
    color:red;
    font-size:8px;
}

.task-sidebar{
    background-color: white;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 52px;
    padding:30px;
    width: 339px;
    z-index: 5;
}

.comments { clear: both; }
.comments .odd { background: #ddd; }
.comments .comment { padding: 15px; max-width: 600px; }
.comments .comment p { margin-bottom: 0; }
.comments .comment .highlight{font-weight: bold;}
.comments h3 { padding: 10px 0px; font-size: 20px; margin-bottom: 20px; clear: both; }
.comments .previous-comments { margin-bottom: 20px; }


/*forms*/

.task-form{
    display:none;
}

.list-form{
    display:none;
}

.project-members-form, .task-members-form{
    display:none;
}


/*listado de miembros en casillas de colores*/
.icon-member-list{
    padding:0;
    list-style: none;
}
.icon-member-list li{
    display:inline-block;
    padding: 3px 8px;
    background: grey;
    color: white;
    font-size: 12px;
}
