{%  extends 'base.html.twig' %}

{% set lists = sprint.listings %}
{% block body %}
    {{ parent() }}

    <div class="project-wrapper">
        <div class="project-main-content">
            <div class="project-canvas">
                <h2><a class="back-button" href="{{ path('sgpc_project_scrum', {'id': project.id})}}"><i class="mdi mdi-arrow-left"></i></a>{{sprint.name}}</h2>

                {% for list in lists %}
                    {{ include('SgpcCoreBundle:Listing:partials/scrumListItem.html.twig') }}             
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}