{%  extends 'base.html.twig' %}


{% block body %}
    {{ parent() }}    
    <div class="container-fluid">
        <h3 class="dashboard-title"><a class="back-button" href="{{ path('sgpc_core_homepage')}}"><i class="mdi mdi-arrow-left"></i></a>Nuevo proyecto</h3>

        <div class="form-content">
            {{ include ('/forms/Project/create_form.html.twig') }}
        </div>

{% endblock %}