{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
	    <h1>Project creation</h1>

    {{ form(form) }}

  <ul class="">
    <li>
        <a href="{{ path('sgpc_core_homepage')}}">
            Volver a mis proyectos
        </a>
    </li>
</ul>
{% endblock %}